@model HelpDeskWebapp.Models.RegisterViewModel

@{
    ViewData["Title"] = "Login";
}

<h2>Login to your account</h2>

<form asp-action="Login" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</form>