@model HelpDeskWebapp.Models.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<h2>Create a new account</h2>

<form asp-action="Register" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Pseudo"></label>
        <input asp-for="Pseudo" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
</form>